.base-component{
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       background-color: #4F4F4F;
}
.cont-format{
       display: flex;
       justify-content: center;
       align-items: baseline;


}
.counter-frame{
       margin: 16px;
       border: 2px solid black;
       background-color: #FFFFFF;
       border-radius: 5px;
       padding: 24px;
       box-shadow: 5px 5px 10px #A9A9A9;
       transition: .3s;
       font-size: 36px;
       font-family: 'Source Code Pro', monospace;
}
.counter-frame:hover{
       box-shadow: 1px 1px 5px #A9A9A9;

}
.useState-structure{
       border: solid 1px black;
       margin: 16px;
       font-family: 'Source Code Pro', monospace;
}
button {
       margin: 15px;
       padding: .5em .5em;
       border: 2px solid #17C3B2;
       position: relative;
       overflow: hidden;
       background-color: transparent;
       text-align: center;
       text-transform: uppercase;
       font-size: 16px;
       color: #ddd;
       transition: .3s;
       z-index: 1;
       font-family: inherit;
       color: #17C3B2;
      }
      
      button::before {
       content: '';
       width: 0;
       height: 300%;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%) rotate(45deg);
       background: #17C3B2;
       transition: .5s ease;
       display: block;
       z-index: -1;
      }
      
      button:hover::before {
       width: 105%;
      }
      
      button:hover {
       color: #111;
      }