h1{
    font-size: 12px;
    margin: 5px;

}
h2{
    font-size: 10px;
    margin: 5px;

}
input{
    background-color: aquamarine;
    transition: .3s;
    margin: 5px;
}
input:hover{
    background-color: blanchedalmond;
}