h1{
    font-size: 35px;
    margin: 5px;

}
h2{
    font-size: 22px;
    margin: 5px;

}
.input{
    align-items: center;
    flex-direction: column;
}
input{
    background-color: aquamarine;
    transition: .3s;
    margin: 5px;
}
input:hover{
    background-color: blanchedalmond;
}