.list-ex1{
    list-style: none;
    width: max-content;
    margin: 24px;
    
}
.list-item1{
    background-color: rgb(12, 207, 207);
    border: 1px solid black;
    text-align: center;
    padding: 3px;
    transition: .3s;
}
.list-item1:hover{
    background-color: blueviolet;
    transform: translateY(-5px);
}